<span class="mouse">
  <span class="mouse-wheel"></span>
</span>
<div id="landing">
  <div class="landing-title">
    <h1> 
      <span class="highlight-title">{{site.username}}</span>
    </h1>
    <h1>
      <img src="LOGOINAOE.png" alt="LOGOINAOE" class="logoimg" style="height: 120px;">
    </h1>
    
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "Asteroides Cercanos a la Tierra (NEAs)","BUAP-INAOE"]'
      >
      </span>
    </h1>
    <div class="landing-icons">
    </div>
  </div>
</div>


