<h1 class="title">{{site.fotometria_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/fotometria320.png">
		<img data-aos="fade-down" src="img/fotometria.png" width="auto" style="float: right; padding-left: 20px;">
	</picture>
	La fotometría es una de las técnicas más usadas en el estudio de los asteroides, pues con ellas 
	somos capaces de determinar características tan importantes como el periodo de rotación, la existencia
	de uno o más satélites, el periodo de cada uno de estos, entre otras. Para conocer acerca de cómo es qué
	podemos determinar esto y cuales son algunos de los softwares utilizados en esta área, puede visitar nuestra 
	sección dedicada a este tema.
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Fotometr-a/">Fotometría</a>
	</center>
</p>
