<h1 class="title">{{site.riesgo_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/riesgo320.png">
		<img data-aos="fade-down" src="img/riesgo.png" width="auto" style="float: left; padding-right: 15px;">
	</picture>
	Seguramente has leído alguna noticia sobre el posible impacto de un asteroide con la Tierra. 
	¿Te has puesto a pensar si en verdad podría ocurrir? ¿Sabes qué tan ciertas son estas noticias?
	 En nuestra sección Riesgo de impacto encontrarás información acerca de qué tan probable es que un 
	 asteroide impacte con nuestro planeta y sus efectos.
	<br><br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/riesgo_de_impacto/">Riesgo de impacto</a>
	</center>
</p>
