<h1 class="title">{{site.aprender_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/aprender320.png">
		<img data-aos="fade-down" src="img/aprender.png" width="auto" style="float: right; padding-left: 20px;">
	</picture>
	Si desea saber más acerca de los asteroides, puede revisar nuestra sección Aprender más, donde podrá encontrar
	 algunos temas relacionados con el estudio de estos objetos, así como enlaces a páginas externas que te 
	 llevarán a simuladores, videos de interés, conferencias y más. 
	<br><br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/aprender-mas/">Aprender más</a>
	</center>
</p>
