<h1 class="title">{{site.actividades_title}}</h1>
<div class="contenido2">
<div class="contenido">
	<p class="description" data-aos="fade-down" style="padding-right:20px; align: middle;">
	¿Le gustaría participar en el estudio de los asteroides? Desde construir su propia curva de luz, clasificar a los asteroides en base a sus órbitas o a 
	su composición, saber como nombrarlos; esto y más podrá encontrar en la sección <b>Actividades</b>. Para ir a ella solo dé click en el botón de abajo
	y podrá encontrar las distintas actividades que puede realizar para entender mejor a estos objetos.
	</p>
	<p>
	<img data-aos="fade-down" src="img/actividades.png" width="100%"><br>
	</p>
</div>
<center>
	<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Actividades/">Actividades</a>
</center>
</div>
