<h1 class="title">{{site.fotometria_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/fotometria320.png">
		<img data-aos="fade-down" src="img/fotometria.png" width="auto" style="float: right; padding-left: 20px;">
	</picture>
	La fotometría es una de las técnicas más usadas en el estudio de los asteroides, ya que nos permite determinar 
	parámetros tan importantes como el periodo de rotación, la existencia de uno o más satélites, y el periodo de 
	cada uno de ellos, entre otros. Para conocer acerca de cómo es qué podemos determinarlos y cúales son algunos 
	de los softwares utilizados en esta técnica, puede visitar nuestra sección dedicada a este tema.
	<br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/fotometria/">Fotometría</a>
	</center>
</p>
