<h1 class="title">{{site.contact_title}}</h1>
<p class="description" data-aos="fade-down">
  Página diseñada y desarrollada por el grupo de trabajo BUAP-INAOE 
  como parte del programa de servicio social Asteroides Cercanos a la 
  Tierra (NEAs). Si desea contactarse con el grupo o con algún miembro 
  en específico, puede encontrar los correos de los colaboradores dando 
  click en el siguiente botón.
  <br>
  <center>
    <a class="boton_personalizado" href="https://asteroidesinaoe.github.io/contacto/">Contacto</a>
  </center>
</p>
