<h1 class="title">{{site.actividades_title}}</h1>
<p class="description" data-aos="fade-down" style="padding-bottom:20px;">
	<picture>
		<source media="(max-width:420px)" srcset="img/actividades320.png">
		<img data-aos="fade-down" src="img/actividades.png" width="auto" style="float: right; padding-left: 15px;">
	</picture>
	¿Te gustaría saber cómo se lleva a cabo el estudio de los asteroides? ¿Deseas construir tu propia curva de luz?,
	 ¿clasificar a los asteroides con base a sus órbitas o a su composición? ¿Quieres saber cómo nombrarlos? Esto y
	  más podrás encontrar en esta sección. Para ir a ella sólo da click en el botón de abajo y podrás encontrar 
	  las distintas actividades que puedes realizar para entender mejor cómo se estudian estos objetos.
	  <br>
	  <center>
		  <a class="boton_personalizado" href="https://asteroidesinaoe.github.io/actividades/">Actividades</a>
	  </center>
</p>