<h1 class="title">{{site.infografias_title}}</h1>
<p class="description" data-aos="fade-down">
	¿Conoces cuáles son meteoritos más grandes que han impactado en México y en el mundo? ¿Sabes quienes son algunos de los científicos 
	más importantes que han impulsado el estudio de los asteroides? ¿Sabes si hay algún asteroide que tenga un acercamiento a la Tierra?
	Si deseas saber más acerca de esto, te invitamos a explorar nuestra sección de <b>Infografías</b> para que aprendas más acerca de 
	todos estos temas.
 	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Infograf-as/">Infografías</a>
 	</center>
</p>
