<h1 class="title">{{site.espectroscopia_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/espectrografia320.png">
		<img data-aos="fade-down" src="img/espectrografia.png" width="auto" style="float: left; padding-right: 20px;">
	</picture>
	Alguna vez ha tenido curiosidad por saber, ¿de qué están hechos los asteroides? Estos objetos no son solo rocas flotando en 
	el espacio, están compuestas de distintos materiales, desde metales, compuestos carbonáceos y silicatos. Pero, ¿cómo podemos 
	saber de qué están hechos? ¿Lo qué observamos nos muestra de qué se compone todo el asteroide o solo su superficie? La respuesta 
	a esta y otras preguntas las puede encontrar en nuestra sección <b>Espectrografía</b>.
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Espectroscop-a/">Espectroscopía</a>
	</center>
</p>
