<h1 class="title">{{site.glosario_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:140px)" srcset="img/glosario320.png">
		<img data-aos="fade-down" src="img/glosario.png" width="auto" style="float: left; padding-right: 20px;">
	</picture>
	En esta sección podrás encontrar diversas palabras relacionadas con los asteroides; desde conceptos básicos 
	hasta algunos más específicos, relacionados, por ejemplo, con alguna técnica de observación.
	<br><br><br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/glosario/">Glosario</a>
	</center>
</p>