<h1 class="title">{{site.asteroides_title}}</h1>

<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/asteroide320.png">
		<img data-aos="fade-down" src="img/asteroide.png" width="auto" style="float: left; padding-right: 20px;">
	</picture>
	Los asteroides no son sólo objetos astronómicos compuestos principalmente de roca y metal que orbitan al Sol, 
	son piezas muy importantes que pueden eneñarnos mucho acerca de cómo comenzó a formarse nuestro sistema solar. 
	Se pueden clasificar con base en su órbita o en los materiales de los que están hechos,  incluso hay todo un 
	protocolo para nombrar a alguno de estos objetos. Si deseas adentrarte en este tema y conocer más acerca de 
	estos interesantes objetos, te invitamos a explorar esta página dando click en el siguiente botón.
	<br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/asteroides/">Asteroides</a>
	</center>
</p>