<h1 class="title">{{site.infografias_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/infografias_pequeño.png">
		<img data-aos="fade-down" src="img/infografias_grande.png" width="auto" style="float: right; padding-left: 20px;">
	</picture>
	¿Conoces cuáles son meteoritos más grandes que han impactado en territorio mexicano y en el mundo en general? 
	¿Sabes quiénes son los científicos más importantes que han impulsado el estudio de los asteroides? 
	¿Sabes si hay algún asteroide que tenga un acercamiento a la Tierra? Si deseas saber más acerca de estos temas, 
	te invitamos a explorar nuestra sección de Infografías.
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/infografias/">Infografías</a>
	</center>
</p>
