<h1 class="title">{{site.riesgo_title}}</h1>

<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/riesgo320.png">
		<img data-aos="fade-down" src="img/riesgo.png" width="auto" style="float: left; padding-right: 20px;">
	</picture>
	¿Alguna vez has leído una noticia sobre un posible impacto de un asteroide con la Tierra? ¿Te has puesto a pensar 
	si en verdad podría ocurrir algo así? ¿Sabes qué tan ciertas son estas noticias? En nuestra sección <b>Riesgo de 
	impacto</b> encontraras información acerca de qué tan probable es que un asteroide impacte con la Tierra y sus 
	posibles efectos en caso de que ocurriése.<br><br>
</p>
<center>
	<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Riesgo_de_impacto/">Riesgo de impacto</a>
</center>
