<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">

	Los asteroides no son solo objetos astronómicos compuestos principalmente de roca y metal que orbitan al Sol, son
	piezas muy importantes que pueden eneñarnos mucho acerca de como comenzó a formarse nuestro Sistema Solar.
	Se pueden clasificar en base a su órbita o a los materiales de los que está hecho e incluso hay todo un protocolo
	para nombrar uno de estos objetos. Si desea adentrarse a conocer más acerca de estos
	interesantes objetos, lo invitamos a comenzar a explorar dando click en el siguiente botón.<br><br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Asteroides/">Asteroides</a>
	</center>
</p>