<h1 class="title">{{site.espectroscopia_title}}</h1>
<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/espectrografia320.png">
		<img data-aos="fade-down" src="img/espectrografia.png" width="auto" style="float: left; padding-right: 20px;">
	</picture>
	¿Alguna vez has tenido curiosidad por saber de qué están hechos los asteroides? Estos objetos no son sólo rocas 
	flotando en el espacio, están compuestos de distintos materiales, desde metales, componentes carbonáceos y silicatos,
	 pero, ¿cómo podemos saber de qué están hechos? ¿Lo que observamos nos muestra de qué se compone todo el asteroide o 
	 sólo su superficie? La respuesta a ésta y otras preguntas las puede encontrar en nuestra sección  de Espectroscopía. 
	 <br>
	 <center>
		 <a class="boton_personalizado" href="https://asteroidesinaoe.github.io/espectroscopia/">Espectroscopía</a>
	</center>
</p>
