<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
	
	Un asteroide es un cuerpo menor rocoso que, en comparación a un planeta, es de menor tamaño, existen millones de
	asteroides y la mayoría de ellos se encuentran en el denominado “cinturón de asteroides”. El resto se distribuye en
	la trayectoria orbital de otros planetas del Sistema Solar, entre ellos, la Tierra y el Sol. Se originaron a partir
	de la colisión de cuerpos mayores que no llegaron a conformar un planeta.
	Los asteroides se clasifican en función de su ubicación, composición o agrupamiento.<br><br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Asteroides/">Asteroides</a>
	</center>
</p>