<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
	
	Los asteroides son objetos astronómicos que orbitan al Sol y que tienen formas muy peculiares. Pueden ser clasificados en base a su órbita o 
	a los materiales de los que está hecho. La mayoría de ellos se encuentran en el Cinturón Principal de Asteroides. Hay todo un protocolo para 
	nombrar uno de estos objetos. Si desea adentrarse a conocer más acerca de estos interesantes objetos, lo invitamos a comenzar a explorar 
	dando click en el siguiente botón. <br><br>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Asteroides/">Asteroides</a>
	</center>
</p>
