<h1 class="title">{{site.asteroides}}</h1>

<p class="description" data-aos="fade-down">
	<picture>
		<source media="(max-width:420px)" srcset="img/asteroide320.png">
		<img data-aos="fade-down" src="img/asteroide.png" width="auto" style="float: left; padding-right: 20px;">
	</picture>
	Los asteroides no son solo objetos astronómicos compuestos principalmente de roca y metal que orbitan al Sol, son
	piezas muy importantes que pueden eneñarnos mucho acerca de como comenzó a formarse nuestro Sistema Solar.
	Se pueden clasificar en base a su órbita o a los materiales de los que está hecho e incluso hay todo un protocolo
	para nombrar uno de estos objetos. Si desea adentrarse a conocer más acerca de estos
	interesantes objetos, lo invitamos a comenzar a explorar dando click en el siguiente botón.<br><br>
</p>
<center>
	<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/asteroides/">Asteroides</a>
</center>