<h1 class="title">{{site.actividades_title}}</h1>
<div>
	<p class="description" data-aos="fade-down" style="padding-bottom:20px;">
		<picture>
			<source media="(min-width:321px)" srcset="img/actividades.png">
			<img data-aos="fade-down" src="img/actividades320.png" width="20%" style="float: left; padding-right: 20px;">
		</picture>
		¿Le gustaría participar en el estudio de los asteroides? Desde construir su propia
		curva de luz, clasificar a los asteroides en base a sus órbitas o a
		su composición, saber como nombrarlos; esto y más podrá encontrar en la sección <b>Actividades</b>. Para ir a
		ella solo dé click en el botón de abajo
		y podrá encontrar las distintas actividades que puede realizar para entender mejor a estos objetos.<br
			clear="all">
	</p>
</div>
<div>
	<center>
		<a class="boton_personalizado" href="https://asteroidesinaoe.github.io/Actividades/">Actividades</a>
	</center>
</div>
