/*Partes principales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
  }
  body{
    background-color: #000000;
  }
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
  }

  /* Título de la página */
.titulo {
    display: flex;
    justify-content: center;
    background: black;
    color: #066DCC;
    font-weight: bold;
    font-size: 50px
  }
  /*HEADER SUPERIOR*/
  .parte_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
  }
  /* Logo INAOE */
  .logoimg {
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
  }

  /*Ajustes tamaño de pantalla*/   
@media screen and (max-width: 720px){
  .titulo{
      align-items: center;
      font-size:22px
  }
  .logoimg{
    display: flex;
    height: 60px;
    align-items: center;
  }
}